In [58]:
import pandas as pd

df = pd.read_csv('datasets/lego_sets.csv')

theme = pd.read_csv('datasets/parent_themes.csv')

theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [59]:
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

What percentage of all licensed sets ever released were star wars themed

In [60]:
merged_df = df.merge(theme, left_on='theme_name', right_on='name')
merged_df.drop(columns='name_y', inplace=True)
merged_df.shape

(4742, 8)

In [61]:
licensed = merged_df[merged_df['is_licensed']]
licensed

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
300,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
301,11912-1,LEGO Star Wars: Build Your Own Adventure,2016,NaN,Star Wars,Star Wars,158,True
302,2853835-1,White Boba Fett Figure,2010,NaN,Star Wars,Star Wars,158,True
303,30058-1,STAP,2012,19.0,Star Wars,Star Wars,158,True
304,30059-1,MTT,2012,51.0,Star Wars,Star Wars,158,True
...,...,...,...,...,...,...,...,...
4723,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,True
4724,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,True
4725,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,True
4726,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,True
4741,K7623-1,Indiana Jones Classic Adventures Collection,2008,4.0,Indiana Jones,Indiana Jones,264,True

In [62]:
star_wars = licensed[licensed['parent_theme'] == 'Star Wars']
star_wars.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
300,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
301,11912-1,LEGO Star Wars: Build Your Own Adventure,2016,NaN,Star Wars,Star Wars,158,True
302,2853835-1,White Boba Fett Figure,2010,NaN,Star Wars,Star Wars,158,True
303,30058-1,STAP,2012,19.0,Star Wars,Star Wars,158,True
304,30059-1,MTT,2012,51.0,Star Wars,Star Wars,158,True

In [63]:
the_force = star_wars.shape[0] / licensed.shape[0]

In [64]:
the_force

0.21267893660531698